<div id="main">
	<div id="cart">
		<h2>Catalog Here</h2>
		<form>
			<p ng-repeat="cd in catalog">
				<img style="width:64px; height=64px;" ng-src="{{cd.img}}" alt="albumpic" />
				<span>Name: </span>{{cd.title}}
				<span>Artist: </span>{{cd.artistName}}
				<span>Price: </span>{{cd.price | currency:"&euro;"}}
				<span><input type="text" size="7 " min="1" value="1" id="{{cd.ID}}" ng-blur="updatePrices(this.cd)"></span>
				<input type="checkbox" class="check" id="{{cd.ID}}"><label>Order this album</label>
			</p>
			<p class="confirm">Total :  {{totalPrice | currency}} <button class="neutral" ng-click="order()">Confirm</button>
		</form>
	</div>
</div>