<div id="main">
	<div id="content">
		<article ng-repeat="cd in cds">
			<a href>
				<img class="albumImage" ng-src="{{cd.img}}" alt="albumpic" />
				<p class="albumname">{{cd.name}}</p>
				<p class="artistname">{{cd.artist}}
					<img id="{{cd.id}}" class="addCart" onload="checkImages(this.id)" src="assets/img/cartAdd.png" onclick="addOrRemoveCDtoCart(this.id)"/>
				<p ng-if="cd.off != 0">
					<span class="off" >Was {{cd.price}}</span>
					<span>{{cd.price * cd.off | currency}}</span>
				</p>
				<p ng-if="cd.off == 0">
					<span ng-else"cd.off == 0">{{cd.price | currency}}</span>
				</p>
			</a>
		</article>
	</div>
</div>