<div id="content">
<footer ng-include="'views/widget_view.html'"></footer>
	<article ng-repeat="cd in cds">
		<a href>
			<img class="albumImage" ng-src="{{cd.img}}" alt="albumpic" />
			<p class="albumname">{{cd.name}}</p>
			<p class="artistname">{{cd.artist}}
				<img id="{{cd.id}}" name="{{cd.name}}" class="addCart" onload="checkImages(this.id)" src="assets/img/cartAdd.png" onclick="addOrRemoveCDtoCart(this.id, this.name)"/>
			<p ng-if="cd.off != 0">
				<span class="off" >Was {{cd.price}}</span>
				<span>{{cd.price * cd.off | currency:"&euro;"}}</span>
			</p>
			<p ng-if="cd.off == 0">
				<span ng-else"cd.off == 0">{{cd.price | currency:"&euro;"}}</span>
			</p>
		</a>
	</article>

	<div id="pagination">
		<button class="info" ng-click="prevPage()" ng-if="page > 0">< Prev</button>
		<button class="info" ng-click="nextPage()" ng-if="cds.length == 20">Next ></button>
	</div>
</div>