<div ng-controller="header_controller as header">
	<div ng-if="message" class="message" ng-controller="header_controller">
		<span></span>
	</div>

	<span>{{header.getMessage()}}</span>

	<h2>Shop</h2>

	<nav id="menu">
		<ul>
			<li ng-click="header.setActive(0)" ng-class="{active: header.isActive(0)}"><a ui-sref="home">Home</a></li>
			<li ng-click="header.setActive(1)" ng-class="{active: header.isActive(1)}"><a href>Popular</a></li>
		</ul>
	</nav>

	<!-- Shopping Cart Info 
		-> icon with number of items
	-->
	<a ui-sref="cart" style="margin-left:100px;"><img src="assets/img/cart.png"/><span id="cart_label">(0)</span></a>

	<div id="join">
		<span><a ui-sref="login">Login</a></span>
		<span><a ui-sref="#">Sign up</a></span>
	</div>
</div>