<div ng-controller="header_controller">

    <h2>Shop</h2>

    <nav id="menu">
		<ul>
			<li ng-click="setActive(0)" ng-class="{active: isActive(0)}"><a ui-sref="home">Home</a></li>
			<li ng-click="setActive(1)" ng-class="{active: isActive(1)}"><a ui-sref="popular">Popular</a></li>
			<li ng-show="isAdmin()" ng-click="setActive(2)" ng-class="{active: isActive(2)}"><a ui-sref="admin">Admin Area</a></li>
		</ul>
	</nav>

    <!-- Shopping Cart Info 
        -> icon with number of items
    -->
    <a ui-sref="cart" style="margin-left:100px;"><img src="assets/img/cart.png"/><span id="cart_label">(0)</span></a>

    <div id="join" ng-hide="isLoggedin()">
        <span><a ui-sref="login">Login</a></span>
        <span><a ui-sref="register">Sign up</a></span>
    </div>
    <div id="join" ng-show="isLoggedin()">
        <span><a href>Settings</a></span>
        <span ng-click="logout();"><a href>Log out</a></span>
    </div>
</div>