<div id="login-box">
	<div ng-if="error" class="error_message">
		<span>{{error}}</span>
	</div>

	<h3>Sign in</h3>

	<form>
		<div class="field">
			<label for="username">Username:</label>
			<input type="text" name="username" id="username" ng-model="username" autocomplete="off">
		</div>

		<div class="field">
			<label for="password">Password:</label>
			<input type="password" name="password" id="password" ng-model="password" autocomplete="off">
		</div>

		<button ng-click="login()">Login</button>
	</form>

	<a href>> Forgot your password?</a>
</div>