<div id="sales">
	<h2>Special Price</h2>
	<div id="content">
		<article ng-repeat="album in sales">
			<a href>
				<img class="albumImage" ng-src="{{album.img}}" alt="albumpic" />
				<p class="albumname">{{album.name}}</p>
				<p class="artistname">{{album.artist}}
					<img id="{{album.id}}" class="addCart" onload="checkImages(this.id)" src="assets/img/cartAdd.png" onclick="addOrRemoveCDtoCart(this.id)"/>
				</p>
				<p ng-if="album.off != 0">
					<span class="off" >Was {{album.price}}</span>
					<span>{{album.price * album.off | currency}}</span>
				</p>
				<p ng-if="album.off == 0">
					<span ng-else"album.off == 0">{{album.price | currency}}</span>
				</p>
			</a>
			

		</article>
	</div>
</div>

<div id="top">
	<h2>Top 5</h2>
	<div id="content">
		<article ng-repeat="album in tops">
			<a href>
				<img class="albumImage" ng-src="{{album[0].img}}" alt="albumpic" />
				<p class="albumname">{{album[0].name}}</p>
				<p class="artistname">{{album[0].artist}}
					<img id="{{album[0].id}}" class="addCart" onload="checkImages(this.id)" src="assets/img/cartAdd.png" onclick="addOrRemoveCDtoCart(this.id)"/>
				</p>
				<p ng-if="album[0].off != 0">
					<span class="off" >Was {{album[0].price}}</span>
					<span>{{album[0].price * album[0].off | currency}}</span>
				</p>
				<p ng-if="album[0].off == 0">
					<span ng-else"album[0].off == 0">{{album[0].price | currency}}</span>
				</p>
			</a>
		</article>
	</div>
</div>





