<div id="sales">
	<h2>On Sale</h2>
	<div id="content">
		<article ng-repeat="album in sales">
			<a href>
				<img class="albumImage" ng-src="{{album.img}}" alt="albumpic" />
				<p class="albumname">{{album.name}}
				</p>
				<p class="artistname">{{album.artist}}
					<img id="{{album.id}}" class="addCart" onload="checkImages(this.id)" src="assets/img/cartAdd.png" onclick="addOrRemoveCDtoCart(this.id)"/>
				</p>
				</p>
				<span class="off" ng-if="album.off != 0">Was {{album.price}}</span>
				<span ng-else"album.off == 0">{{album.price | currency}}</span>
			</a>
			

		</article>
	</div>
</div>

<div id="top">
	<h2>Top 10</h2>
	<div id="content">
		<article ng-repeat="album in tops">
			<a href>
				<img class="albumImage" ng-src="{{album.img}}" alt="albumpic" />
				<p class="albumname">{{album.album}}
				</p>
				<p class="artistname">{{album.artist}}
					<img id="{{album.id}}" class="addCart" onload="checkImages(this.id)" src="assets/img/cartAdd.png" onclick="addOrRemoveCDtoCart(this.id)"/>
				</p>
			</a>
		</article>
	</div>
</div>





