<div id="sales">
	<h2>On Sale</h2>
	<div id="content">
		<article ng-repeat="album in sales">
			<a href="{{album.url}}">
				<img class="albumImage" ng-src="{{album.img}}" alt="albumpic" />
				<p class="albumname">{{album.album}}
				</p>
				<p class="artistname">{{album.artist}}
					<img id="{{album.id}}" class="addCart" onload="checkImages(this.id)" src="assets/img/cartAdd.png" onclick="addOrRemoveCDtoCart(this.id)"/>
				</p>
			</a>
		</article>
	</div>
</div>

<div id="top">
	<h2>Top 10</h2>
	<div id="content">
		<article ng-repeat="album in tops">
			<a href="{{album.url}}">
				<img class="albumImage" ng-src="{{album.img}}" alt="albumpic" />
				<p class="albumname">{{album.album}}
				</p>
				<p class="artistname">{{album.artist}}
					<img id="{{album.id}}" class="addCart" onload="checkImages(this.id)" src="assets/img/cartAdd.png" onclick="addOrRemoveCDtoCart(this.id)"/>
				</p>
			</a>
		</article>
	</div>
</div>





