@import url(http://fonts.googleapis.com/css?family=Open+Sans);

table {
	width: 80%;
	margin: 0 auto;
	font-family: 'Open Sans', sans-serif;
}

table tr, table td {
	padding: 5px 10px 5px 10px;
	text-align: center;
}