@import url(http://fonts.googleapis.com/css?family=Open+Sans|Raleway);

* {
	-webkit-box-sizing:	border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing:	border-box; /* Firefox, other Gecko */
	box-sizing:			border-box; /* Opera/IE 8+ */

	font-family: 'Open Sans', sans-serif;
}

a:hover, a:visited, a:link, a:active {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

body {
	width: 80%;
	margin: 0 auto;
	padding: 0;
	background-color: #EDEDED;
}


header h2 {
	display: inline-block;
	margin-right: 30px;

	font-family: 'Raleway', sans-serif;
}

header #menu {
	display: inline-block;
}

header #menu ul {
	list-style-type: none;
    margin: 0;
    padding: 0;
    color: black;
}

header #menu ul li {
	display: inline;
	margin-left: 10px;
	color: black;
	padding: 5px 10px 5px 10px;
	border-radius: 6px;
}
header #menu ul .active {
	background: rgba(1,1,1,0.8);
	color: white;
}
header #menu ul li:hover {
	background: rgba(1,1,1,0.8);
	color: white;
}
header #menu ul li a {
	padding: 0 10px 0 10px;
}

header #menu ul .active,
header #menu ul li a:hover {

	transition: background 0.3s ease;
    -webkit-transition: background 0.3s ease;
}

#join {
	float: right;
	padding: 5px 15px 5px 15px;
	background-color: #171717;
	color: #fff;
	margin-top: -3px;
	border-bottom-right-radius: 7px;
	border-bottom-left-radius: 7px;

	/*-moz-box-shadow:    3px 3px 5px 6px #ccc;
	-webkit-box-shadow: 3px 3px 5px 6px #ccc;*/
	box-shadow:         1px 1px 2px 1px #ccc;
}

#join span {font-size: 10pt; /* padding: 0 10px 0 10px;*/}
#join span:first-child {margin-right: 10px;}
#join:after {content: ''; clear: both;}

#content {text-align: center;}

#content article {
	display: inline-block;
	width: 200px;
	margin: 10px 5px 10px 5px;
	text-align: left;

	background-color: #fff;
	color: #000;

	padding: 10px;
	border-radius: 7px;
	border: 1px solid #DCDCDC;
}

#content article:hover {
	background-color: #E6E6E6;

	transition: background 0.5s ease;
    -webkit-transition: background 0.5s ease;
}

#content article .albumImage {
	width: 100%;
}


#content article .addCart {
	width: 32px;
	height: 32px;
	float: right;
}

#content article p {
	margin: 0;
	padding: 0;
	white-space: nowrap;
	overflow: hidden;
}

#content article .albumname {
	font-weight: bold;
}

#login-box {
	width: 370px;
	margin: 0 auto;
	background: white;
	padding: 35px;
	margin-top: 25px;
	/*border: 1px solid #CCC;*/
	border-radius: 5px;
}

#login-box h3 {
	text-align: center;
}

#login-box .error_message {
	width: 100%;
	padding: 3px 0 3px 0;
	text-align: center;
	background-color: #D43D3D;
	color: white;
	border-radius: 5px;
	border: 1px solid #DE6666;
	margin-top: -20px;
}
#login-box form {
	text-align: center;
}
#login-box .field {
	display: block;
	width: 100%;
	margin-bottom: 10px;
	text-align: left;
}

#login-box .label {
	width: 12%;
	margin-top: 10px;
	padding: 0;
	font-size: 10pt;
}

#login-box input {
	width: 100%;
	margin-top: 10px;
	padding: 0;
	text-align: left;
	font-size: 12pt;
	padding: 3px 5px 3px 5px;
	border-radius: 4px;
	border: 1px solid #9C9C9C;
}

#login-box button {
	width: 35%;
	margin: 0 auto;
	margin-top: 10px;
}

#login-box a {
	font-size: 10pt;
}
#login-box a:hover {
	color: #C21515;
}

#cart { 
	width: 100%;
	margin-top: 20px;
	background: white;
	padding: 20px;
	display: table;
}

#cart h2 {
	text-align: center;
}

#cart img {
	width: 64px;
	height: 64px;
	vertical-align: middle;
	margin-right: 20px;
}

#cart .confirm {
	text-align: right;
	font-weight: bold;
	margin-right: 15px;
}
#cart .confirm button {
	margin-left: 10px;
}

#main, #sales, #top {
	width: 100%;
	background: rgba(255,255,255,0.7);
	border-radius: 5px;
	padding-bottom: 20px;
}

#sales, #top h2 {
	padding-top: 10px;
	text-align: center;
}

#message {
	width: 100%;
	padding: 10px 0 10px 0;
	margin: 10px 0 20px 0;
	border-radius: 5px;
	text-align: center;
	color: black;
	display: none;
}

footer {
	width: 100%;
	margin: 10px 0 10px 0;
	padding: 5px 0 5px 0;
	background: white;
	text-align: center;
	font-weight: bold;
	color: black;
	font-size: 13px;
}

.off {
	font-size: 11px;
	color: red;
}